

page-create-flat {

    .backGround{
        background-color: orange;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
    }
    .addUserDiv{
        height: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-top:10px; 
        padding-left: 2%;
        padding-right: 2%;
        background-color: white;
        border-radius: 5px;

    }
    .addButton:hover{
        color:black;
        background-color: white !important;
        outline-color: white;
    }
    .addButton{
        color:black;
        background-color: white;
        outline-color: white;
        box-shadow: none !important;
    }
    .createFlatButton{
        margin-top: 15px;
        margin-left: 10%;
        margin-right: 10%;
        inline-size: 80%;
        border-radius: 5px;
        color:black;
        background-color: turquoise;
    }


    form{
        display: table-cell;
        vertical-align: middle;
        align-content: middle;
    }

    .smallerFont{
        font-size: 50px;
        font-weight: 300;
        color: orange;
        
    }

    .largerFont{
        font-size: 50px;
        font-weight: 800;
        color: turquoise;
        margin-left: -9px;
    
    }

    .fullstop{
        font-size: 70px;
        color: orange;
        margin-left: -9px;
    }

    
}
