<!--
  Generated template for the CreateFlatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   <ion-navbar>
    <ion-title>
            <span class="navBarFlatTitle">flat</span>
            <span class="navBarChoresTitle">chores</span>
            <span class="navBarFullStop">.</span> 
          </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  <div class="addUserDiv">
      <ion-item>
          <ion-input (keyup)="getItems($event)" [(ngModel)]='input' placeholder="username"></ion-input>
        </ion-item>
    <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 80%">
      <div>
    <ion-list>
        <ion-item *ngFor="let item of items" >
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/images/index.png">
          </ion-thumbnail>
          <h2>{{item.username}}</h2>
          <button ion-button clear item-end (click)="addFlatMate(item)">Add</button>
        </ion-item>
      </ion-list>
      <div text-center>
          <h1>
            <span class="navBarFlatTitle">your</span>
            <span class="navBarChoresTitle">flat</span> 
            <span class="navBarChoresTitle">.</span> 
          </h1>
        </div>
      <ion-list>
          <ion-item *ngFor="let item of flat" >
            <ion-thumbnail item-start>
              <img src="../../assets/imgs/images/index.png">
            </ion-thumbnail>
            <h2>{{item.username}}</h2>
            <button ion-button clear item-end (click)="removeFlatMate(item)">Remove</button>
          </ion-item>
        </ion-list>
      </div>
        </ion-scroll>
      
  </div>
 
  <button class="orangeButton" ion-button full (click)="createFlat()">CREATE FLAT</button>

</ion-content>
