page-jobs {
    .accordion-list {
        background: color($colors, light);
        height: auto;
        padding: 0% !important;
    }
    .section {
        background:  orange;
        margin-top: 0px;
        margin-bottom: 1px;
        padding: 30px;
        border: #000;
    }
    .section-active {
        background:  orange;
        padding: 30px;
        color: #000;
        margin-bottom: 1px;

    }
 
    .child {
        background: #e8e7e6;
        color: #fff;
        margin-bottom: 0px; 
        
    }
    .child-item {
        background: orange;
        padding: 20px;

    }
    .label {
        margin: 0px;
        color: #000;
    }
    .list {
        margin-bottom: 0px;
    }

    .abc:nth-child(1) {
        color: blue;

    }

    .abc:nth-child(2) {
        color: green;

    }

    .abc:nth-child(3) {
        color: red;

    }

    .header{
        background-color: #000;
        margin-bottom: 0px !important;
        border-top: 0px !important;
    }

    .ion-list-header{
        background-color: #000;

        margin-bottom: 0px !important;
    }

    .powerIcon{
        font-size: 30px;
    }
   .row {
       text-align: center;
       align-content: center;
       
   }
   .logoutButton{
    display: inline-block;
    background-color: turquoise;
    transition-duration: 0ms;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    margin-top: 5%;
     
}
.logoutButton:hover {
    color: black;
    background-color: turquoise !important;
    transition-duration: 0ms;
    opacity: 0.1;
    
    
}

.subHeading{
    color: rgb(54, 172, 160);
    font-size: 14px;
}


.date{
    color: rgb(54, 172, 160);
}

}
