<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-list class="accordion-list">
    <ion-list-header class = "header" *ngFor="let item of information; let chore = index" no-lines no-padding>
      <button ion-item (click)="toggleSection(chore)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
        {{ item.name }}
      </button>
 
      <ion-list *ngIf="item.children && item.open" no-lines>
        <ion-list-header class="header" *ngFor="let child of item.children; let j = index" no-padding>
          <button ion-item (click)="toggleItem(chore, j)" *ngIf="child.children" class="child" detail-none>
            <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
            {{ child.name }}
          </button>
 
          <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
            <h2>{{ child.name }}</h2>
            <p text-lowercase>{{ child.information }}</p>
            <button ion-button outline item-end (click)="buyItem(child)">{{ child.due }}</button>
          </ion-item>
 
          <ion-list *ngIf="child.children && child.open">
            <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
              <h2>{{ item.name }}</h2>
              <p text-lowercase>{{ item.information }}</p>
              <button ion-button outline item-end (click)="buyItem(item)">{{ item.price }}</button>
            </ion-item>
          </ion-list>
 
        </ion-list-header>
      </ion-list>
      
    </ion-list-header>
  </ion-list>
  <div class="row">
    <div class="col">
  <button ion-button round class="logoutButton" (click)="createJob()">
    <ion-icon class="powerIcon"  name="ios-add-circle-outline"></ion-icon>
  </button> 
  <p class="subHeading">create jobs</p>
 
</div>
</div>
</ion-content>
