page-join-or-create-flat {

    .button{
        color: white;
        border-radius: 5px;
        }

    .buttonSection{
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 15px;
        margin-right: 15px;

    }
    .buttonOne{
        margin-top: 100px;
    }
    .buttonTwo{
        margin-top: 40px;
    }

}
