// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background-color: whitesmoke;
  box-shadow: 0px !important;
}

.orangeButton{
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  inline-size: 80%;
  transition-duration: 0ms;
  color:white;
  border-radius: 5px;
  background-color: orange;
}
.orangeButton:hover {
  background-color: white !important;
  opacity: 0.7;
  color: black;
}
.orangeButton:active{
  background-color: white !important;
  opacity: 0.7;
  color: black;
}

.button{
  border-radius: 5px;
}
.navBarFlatTitle{
  font-size: 30px;
  font-weight: 300;
  color: orange;   
}
.navBarChoresTitle{
    font-size: 30px;
    font-weight: 800;
    color: turquoise;
    margin-left: -5px;

}

.navBarFullStop{
    font-size: 30px;
    color: orange;
    margin-left: -5px;
}

.background{
  background-color: turquoise;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}